.Contact {
  margin: auto;
  height: 100vh;
  width: 100vw;
}

.Contact p {
  font-size: 2rem;
  text-align: center;
  height: 50vh;
  color: #fff;
  mix-blend-mode: difference;
  text-transform: uppercase;
  line-height: 1em;
}

.Contact p:first-child {
  height: 100vh;
}

span {
  background-color: #00e9ea;
}

.email {
  text-transform: lowercase;
}

a {
  color: #fff;
  mix-blend-mode: difference;
  text-decoration: none;
  cursor: crosshair;
  transition: all 30ms;
  box-shadow: inset 0 -4px 0 #00e9ea;
}

a:hover {
  box-shadow: inset 0 -1.2em 0 #00e9ea;
  transition-duration: 30ms;
}